{{layout 'container.vto'}}
<h1>Hello, world!</h1>
{{/layout}}

{{layout 'container.vto'{size:'big'}}}
<h1>Hello, world!</h1>
{{/layout}}

{{ slot foo }}
Slot content
{{ /slot }}

{{ default bar }}
Default content for bar
{{ /default }}

{{ comp }}
{{ /comp }}
