**/*.html linguist-detectable=false
**/*.vue linguist-detectable=false
**/*.svelte linguist-detectable=false
**/*.astro linguist-detectable=false
**/*.jinja linguist-detectable=false
**/*.njk linguist-detectable=false
**/*.vto linguist-detectable=false
**/*.mustache linguist-detectable=false
**/*.hbs linguist-detectable=false
