[workspace]
members = ["dprint_plugin", "markup_fmt"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0"
insta = { version = "1.43", features = ["glob"] }
similar-asserts = "1.7"
toml = "0.8"

[profile.release]
lto = true
opt-level = "s"
strip = "debuginfo"
