<button type="button" (click)="deleteHero(  )">Delete hero</button>

<tr><td [colSpan]="1+1">Three-Four</td></tr>

<p>The hero's birthday is {{birthday|date}}</p>

<div>
  @if (fetchUsers (   )|async;as    users) {
    <span>{{ users.length }}</span>
  } @else if (items$|async;as    [    {value}   ]) {
    <span>{{ value }}</span>
  }
</div>

<ul>
    @for ({id,name} of getItems ( );   track  id . value   ;let idx   =   $index,e=$even) {
  <li>{{ name }}</li>
}
</ul>

@switch(
  should . be . formatted
) {
  @case(
  should . be . formatted) {}
}
