{{ { name:"Óscar",surname:'Otero'}|>JSON.stringify(null,2) }}

{{ if ! it . user }}
  No user found!
{{ /if }}

{{ for odd_number of [1,2,3].filter(n=>n%2) }}
{{ /for }}

{{ for await item of getItems(   ) }}
{{ /for }}

{{layout `${ name }.vto`}}
{{/layout}}
{{layout 'container.vto'{size:'big'}}}
{{/layout}}

{{include `${ name }.vto`}}
{{include './filename.vto'{name:'Óscar'}}}

<h1 style="color:{{ colors . gray}}">{{ title }}</h1>
<style type="text/css">
  body{
    background-color:{{colors . white}};
  }
</style>
