<div class="projects">
	{
		projects.map((project, projectIdx) => (
			<div class="project">
				{
					project.gallery.map((_slide, slideIdx) => {
		const x = null;

		return <div class="slide"></div>;
	})
				}
			</div>
		))
	}
</div>
