<div data-content="{% if status == "active" %}I'd like it{% endif %}"></div>
<div data-content='{% if status == 'active' %}I"d like it{% endif %}'></div>

<div data-content="{% if status == "active" %}Id like it{% endif %}"></div>
<div data-content='{% if status == 'active' %}Id like it{% endif %}'></div>