<h4 id={{ id }}>{{ component.id }}</h4>
<h4 id={{ id }}AA>{{ component.id }}</h4>
<h4 id=BB{{ id }}AA>{{ component.id }}</h4>

<h4 id=super-{{ id }}-long-{{ id2 }} class="fff">{{ component.id }}</h4>
<h4 id={{     id  }} class="fff">{{ component.id }}</h4>
