<!DOCTYPE html>
<html>
    <body>
        {#This is a comment#}
        {# This is a comment #}
        {#This is a very very very very very very very very very very very very long comment#}
        {# This is a very very very very very very very very very very very very long comment #}

        {# note: commented-out template because we no longer use this
            {% for user in users %}
                ...
            {% endfor %}
        #}
    </body>
</html>

<div
    {#    resource index will be used for showing-hiding fields   #}
    resource-index="{{ field.field.resource_index }}"

    {# note: commented-out template because we no longer use this
                {% for user in users %}
                    ...
                {% endfor %}
            #}
>
</div>
