Hello from {Mustache }!

{{  template}}: {{ planet    }}

These characters should not be HTML escaped: {{{  forbidden  }}}

These characters should not be HTML escaped: {{&forbidden }}

{{ person.name}}
{{ . }}
{{{ . }}}

{{> partial }}

{{> * dynamic }}
